* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: lightblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  max-width: 100vw;
  padding: 20px;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40%;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  overflow-y: hidden;
  overflow-x: auto;
}

img {
  width: auto;
  max-width: 600px;
  height: 90%;
}

h1 {
  font-weight: 300;
}

input[type='file'] {
  color: transparent;
}

input[type='file']:hover {
  cursor: pointer;
}

.image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
